<!DOCTYPE html>
<html>
<head>
	<title>Angular Two Way Data Binding .</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body  ng-app="Nirikshan_ko_app">
  <div ng-controller="MyContRollEr">
      <table border="2">
   	    <tr>
   	   	   <td>Firstname:</td>
   	   	   <td>{{info.firstname}}</td>
   	    </tr>
   	    <tr>
   	   	   <td>Lastname:</td>
   	   	   <td>{{info.lastname}}</td>
   	    </tr>
   	    <tr>
   	   	   <td>Age:</td>
   	   	   <td>{{info.age}}</td>
   	    </tr>
      </table>
      <br>
	  <table border="2">
	   	   <tr>
	   	   	   <td>Firstname:</td>
	   	   	   <td><input type="text" ng-model="info.firstname"></td>
	   	   </tr>
	   	   <tr>
	   	   	   <td>Lastname:</td>
	   	   	   <td><input type="text" ng-model="info.lastname"></td>
	   	   </tr>
	   	   <tr>
	   	   	   <td>Age:</td>
	   	   	   <td><input type="text" ng-model="info.age"></td>
	   	   </tr>
	   </table>	
  </div>
</body>
</html>